.content{
  height:400px;
  //background-color: rgb(122, 117, 98);
  padding-top: 10px;
  background-image: linear-gradient(to right, rgb(156, 156, 156) , rgb(173, 222, 255));


}

.content .inner-content{
  background-color: transparent;
  height:380px;
  width: 98%;
  margin: auto;
  border: solid white 3px;
}

h1{
  font-family: fantasy;
  color:white;
  font-size: 36pt;
  letter-spacing: 5px;
}
img{
  margin-top: 30px;
  width: 95%;
  height:350px;
  margin-left: 20px;
}
