<div class="row" style="margin-top: 70px;">



  <div class="col-11" style="margin: auto; position: relative;">
    <div class="content">
      <div class="inner-content">
        <h1 class=" text-center" >   {{course.name}}</h1>
        <hr style="background-color: white">
        <p id="sub-name" class="animated bounce infinite">{{course.subCatergory | uppercase}}</p>
        <p></p>
        <p>{{course.description}}</p>
        <p>{{course.author}}</p>
      </div>
    </div>
    <div style="position: absolute; bottom: -120px;  right: 70px;"  >

      <img src="{{course.url}}" class=" z-depth-5" alt="1"   >
    </div>

  </div>
</div>
<hr>
<h1 class="text-center" style="color: black">Topics</h1>
<ul type="none" style="width: 80%; margin: auto; " class="grey lighten-2">
  <li>Topic 1</li>
  <hr>
  <li>Topic 1</li>
  <hr>
  <li>Topic 1</li>
  <hr>
  <li>Topic 1</li>
  <hr>
  <li>Topic 1</li>
  <hr>
  <li>Topic 1</li>
  <hr>
  <li>Topic 1</li>
  <hr>
  <li>Topic 1</li>
  <hr>
  <li>Topic 1</li>
  <hr>
  <li>Topic 1</li>
  <hr>
  <li>Topic 1</li>
  <hr>
</ul>
