.nav-pills .active{
  background-color:#009688 ;
  margin-bottom: 10px;
}

.nav-pills{
  height: 800px;
  background-repeat: no-repeat;
  background-image: url("https://img.freepik.com/free-vector/blue-3d-modern-background-design_53876-88247.jpg?size=626&ext=jpg");
  background-size: 300px 800px;
}

.nav-pills a{
  color:white;

}

.nav-text{
  font-family: fantasy;
  font-size: 25pt;
  color: white;
}
