<h3  class= "text-center" style="margin-top: 100px; font-weight: bold;">{{course.name}}</h3>
<p >{{name}} : {{vidName}}</p>
<div class="row">
  <div class="col">
      <div >
          <iframe  id="player" type="text/html" width="100%" height="400" [src]="url" frameborder="0" allowfullscreen ></iframe>

        </div>
        <div class="row">
          <div class="col-sm" style="max-width: 120px;">
            <p style="margin-top: 8px;">Give A Rate</p>

          </div>
          <div class="col-sm">
            <star-rating  value="3" checkedcolor="orange" uncheckedcolor="black" size="24px"    readonly="false" (rate)="onRate($event)"></star-rating>

          </div>
        </div>

  </div>
  <div class="col">
      <div>

          <ul *ngFor="let topic of course.topic">

            <div> {{topic.topic}}
              <ul *ngFor="let videos of topic.videos">

                <a (click)="setVideo(videos.video,topic.topic,videos.videoName)">{{videos.videoName}}</a>
              </ul>
            </div>
          </ul>
        </div>
  </div>
</div>
<hr>

<app-footer></app-footer>

<!-- <ul *ngFor="let vid of videos;">
 <a (click)="setVideo(vid)">{{vid}}</a>
</ul> -->


